<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../css/lost-n-found.css">
        <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
        <title>lost & found</title>
        <script src="../js/lost-n-found.js"></script>
    </head>

    <body>
        <h1> Lost & Found </h1>
    </body>

    
    <div class="section">
      <h5>Section 1</h5>
      <p>Stuff</p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <h5>Section 2</h5>
      <p>Stuff</p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <h5>Section 3</h5>
      <p>Stuff</p>
    </div>
    <div class="divider"></div>

</html>