<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ShareMon</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../css/lost-n-found.css">
        <script src="../js/lost-n-found.js"></script>
    </head>

    <body>
        <div>
            <h1> Lost & Found </h1>
        </div>

        <!-- <div class="section">
            <h5>Section 1</h5>
            <p>Stuff</p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h5>Section 2</h5>
            <p>Stuff</p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h5>Section 3</h5>
            <p>Stuff</p>
        </div>
        <div class="divider"></div> -->

        <ul class="nav nav-pills nav-justified" id="navigation-pill">
            <!-- fix hardcode -->
            <li class="active"><a data-toggle="pill" href="#lost">Lost  <span class="badge"> 5</span></a></li>
            <li><a data-toggle="pill" href="#found">Found   <span class="badge">5</span></a></li>
            <!-- fix hardcode -->
        </ul>
        
        <div class="tab-content">
        <div id="lost" class="tab-pane fade in active">
            <p>Some content.</p>
        </div>
        <div id="found" class="tab-pane fade">
            <p>Some content in menu 1.</p>
        </div>
        </div>

    </body>

</html>